@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,400i,700,700i|Poiret+One&display=swap&subset=cyrillic,latin-ext');

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  border-color: #C68E17,#A76B00,#894D00;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
  font-family: 'Poiret One', cursive;
  color: #C68E17;
}

body {
  background: image_url('sakura.png');
  color: #C68E17;
  font-family: 'Josefin Slab', serif;
}

.navbar {
  background: image_url('food.png');
  box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-inverse .navbar-brand {
  color: #5CB3FF;
  font-family: 'Poiret One', cursive;
 }

.invalid-feedback {
  color: #5CB3FF;
  background: image_url('food.png');
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

#map {
      height: 300px;
    }

.clear {
    clear: both;
}

.btn {
  background: #FBBBB9;
  color: #5CB3FF;
  font-family: 'Josefin Slab', serif;
  border-color: #C68E17;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.photo {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
}